[user]
	email = eric@urbina.dev
	name = Eric Urbina
	signingkey = C7623743A5A984A9
[commit]
	gpgsign = true
[core]
	excludesfile = /home/eric/.gitignore
	editor = nvim
[alias]
	checkou = checkout
[credential]
	helper = store
